@using football_tournament_maker_mvc.ViewModels

@{
    ViewData["Title"] = "Index";
}

@model List<TeamVM>
@{
    int count = 1;
}

<div class="text-center">
<h1>Teams</h1>
<a class="btn btn-primary"  asp-action="Create" > Add new team</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
           
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var team in  Model)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@team.Name</td>
                <td>
                        <a asp-action="Detail" asp-route-id="@team.Id" class="btn btn-primary">Show stats</a>
                        <form asp-action="Delete" asp-route-id="@team.Id" method="post" onsubmit="return confirm('Do you want to delete?');">
                            <button class="btn btn-danger" >Delete</button>
                        </form>
                </td>
               
            </tr>
            count++;
        }
    </tbody>
</table>
</div>